body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(32, 36, 45);
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 0px 80px;
  background-color: rgb(50, 56, 70);
  box-sizing: border-box;
  gap: 40px;
  padding-bottom: 100px;
  margin-bottom: 30px;
}

.about .text {
  max-width: 600px;
  color: white;
  margin-top: 20px;
  margin-right: 100px;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 8px;
  font-weight: bold;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  color: #ccc;
}

#Me {
  color: rgb(1, 238, 254);
}

.about h3 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 36px;
  background-color: rgb(1, 238, 254);
  color: rgb(32, 36, 45);
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.3s ease;
  font-size: 25px;
  font-weight: bold;
  align-self: center;
}

.btn:hover {
  transform: scale(1.05);
  color: white;
}

.about img {
  width: 330px;
  height: 380px;
  border-radius: 20px;
  max-width: 100%;
  margin-top: 70px;
  display: block;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 0 40px;
    gap: 20px;
  }

  .about .text {
    margin-right: 0;
    max-width: 100%;
  }

  .about img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
    padding: 0 20px 40px;
  }

  .about h2 {
    font-size: 32px;
  }

  .about h3 {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
    padding: 10px 30px;
  }
}
